<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="F9EAA3B6-AFF9-45BC-B15D-E77B094702BE" Name="Ekstertera" Language="1049" Version="0.1.12.0" Manufacturer="Anton Batenev" UpgradeCode="94DF00F1-67F1-49AC-9094-6941AD11D659">
        <Package Description="Yandex.Disk GUI client" Comments="Ekstertera" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="EKSTERTERA" Name="ekstertera">
                    <Component Id="EKSTERTERA.EXE" DiskId="1" Guid="5CE07A3F-780D-499D-A0E6-1ED409FDBDDC">
                        <File Id="EKSTERTERA.EXE" Name="ekstertera.exe" Source="ekstertera.exe">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Ekstertera" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Ekstertera" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Id="README.TXT" DiskId="1" Guid="5C18984C-0150-11E5-A322-1697F925EC7B">
                        <File Id="README.TXT" Name="readme.txt" Source="readme.txt" />
                    </Component>
                    <Component Id="LIBEAY32.DLL" DiskId="1" Guid="D98A49CA-E4FD-46C0-8DC9-14C8FE2CDDBC">
                        <File Id="LIBEAY32.DLL" Name="libeay32.dll" Source="libeay32.dll" />
                    </Component>
                    <Component Id="LIBGCC_S_DW2_1.DLL" DiskId="1" Guid="A58BF144-D6F2-4490-8F4A-11FC1E07FEB2">
                        <File Id="LIBGCC_S_DW2_1.DLL" Name="libgcc_s_dw2-1.dll" Source="libgcc_s_dw2-1.dll" />
                    </Component>
                    <Component Id="LIBSSL32.DLL" DiskId="1" Guid="593B2465-716B-4209-A47F-DC12DF11A0EC">
                        <File Id="LIBSSL32.DLL" Name="libssl32.dll" Source="libssl32.dll" />
                    </Component>
                    <Component Id="LIBSTDC___6.DLL" DiskId="1" Guid="3FFD43A7-3EC7-46F6-BBEB-AEB8B8859C58">
                        <File Id="LIBSTDC___6.DLL" Name="libstdc++-6.dll" Source="libstdc++-6.dll" />
                    </Component>
                    <Component Id="LIBWINPTHREAD_1.DLL" DiskId="1" Guid="EDDB3DE7-EDBD-4264-8DEA-F16D2AD292D7">
                        <File Id="LIBWINPTHREAD_1.DLL" Name="libwinpthread-1.dll" Source="libwinpthread-1.dll" />
                    </Component>
                    <Component Id="QTCORE4.DLL" DiskId="1" Guid="1E86A91B-8C17-4A37-BDA3-7BBBF648DAE6">
                        <File Id="QTCORE4.DLL" Name="QtCore4.dll" Source="QtCore4.dll" />
                    </Component>
                    <Component Id="QTGUI4.DLL" DiskId="1" Guid="5CB2314F-8043-4778-A3D3-142F268B0DBD">
                        <File Id="QTGUI4.DLL" Name="QtGui4.dll" Source="QtGui4.dll" />
                    </Component>
                    <Component Id="QTNETWORK4.DLL" DiskId="1" Guid="A8B535E7-D856-4E98-A6E4-2EB6F7E3C840">
                        <File Id="QTNETWORK4.DLL" Name="QtNetwork4.dll" Source="QtNetwork4.dll" />
                    </Component>
                    <Component Id="QTSVG4.DLL" DiskId="1" Guid="9AADCA0B-E7B6-42E0-9F13-7C43418B3A82">
                        <File Id="QTSVG4.DLL" Name="QtSvg4.dll" Source="QtSvg4.dll" />
                    </Component>
                    <Component Id="QTXML4.DLL" DiskId="1" Guid="2ABA93A2-7E96-47BD-A50C-AAAE08E67186">
                        <File Id="QTXML4.DLL" Name="QtXml4.dll" Source="QtXml4.dll" />
                    </Component>
                    <Component Id="SSLEAY32.DLL" DiskId="1" Guid="558D9ABA-EA2D-4336-BEDE-06F551EFC5F4">
                        <File Id="SSLEAY32.DLL" Name="ssleay32.dll" Source="ssleay32.dll" />
                    </Component>
                    <Directory Id="BEARER" Name="bearer">
                        <Component Id="QGENERICBEARER4.DLL" DiskId="1" Guid="E427E3C0-6F65-4BFD-946C-C4E33E3E7120">
                            <File Id="QGENERICBEARER4.DLL" Name="qgenericbearer4.dll" Source="bearer\qgenericbearer4.dll" />
                        </Component>
                        <Component Id="QNATIVEWIFIBEARER4.DLL" DiskId="1" Guid="99BDCD90-7F40-4198-8D35-1D002355644C">
                            <File Id="QNATIVEWIFIBEARER4.DLL" Name="qnativewifibearer4.dll" Source="bearer\qnativewifibearer4.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="CODECS" Name="codecs">
                        <Component Id="QCNCODECS4.DLL" DiskId="1" Guid="DDF3E601-5CBB-4A36-B4C3-4CD719ECB58E">
                            <File Id="QCNCODECS4.DLL" Name="qcncodecs4.dll" Source="codecs\qcncodecs4.dll" />
                        </Component>
                        <Component Id="QJPCODECS4.DLL" DiskId="1" Guid="E5400917-C4EA-46B2-B9DC-7FFDBAF22220">
                            <File Id="QJPCODECS4.DLL" Name="qjpcodecs4.dll" Source="codecs\qjpcodecs4.dll" />
                        </Component>
                        <Component Id="QKRCODECS4.DLL" DiskId="1" Guid="75EC7855-6789-4F10-8A3D-A22344824181">
                            <File Id="QKRCODECS4.DLL" Name="qkrcodecs4.dll" Source="codecs\qkrcodecs4.dll" />
                        </Component>
                        <Component Id="QTWCODECS4.DLL" DiskId="1" Guid="C1292BCF-A730-44B2-A8D0-1A7669533ECA">
                            <File Id="QTWCODECS4.DLL" Name="qtwcodecs4.dll" Source="codecs\qtwcodecs4.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="ICONENGINES" Name="iconengines">
                        <Component Id="QSVGICON4.DLL" DiskId="1" Guid="5EE9583E-347A-4236-8E74-C39F7F0727E7">
                            <File Id="QSVGICON4.DLL_1" Name="qsvgicon4.dll" Source="iconengines\qsvgicon4.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="IMAGEFORMATS" Name="imageformats">
                        <Component Id="QGIF4.DLL" DiskId="1" Guid="EA5CA857-60B9-4A15-A354-D4AF17D67C0F">
                            <File Id="QGIF4.DLL" Name="qgif4.dll" Source="imageformats\qgif4.dll" />
                        </Component>
                        <Component Id="QICO4.DLL" DiskId="1" Guid="7227FAB8-D83B-4387-B5FE-B55AEE157309">
                            <File Id="QICO4.DLL" Name="qico4.dll" Source="imageformats\qico4.dll" />
                        </Component>
                        <Component Id="QJPEG4.DLL" DiskId="1" Guid="734B1A66-237C-44FB-82B0-EE2EDA0B430A">
                            <File Id="QJPEG4.DLL" Name="qjpeg4.dll" Source="imageformats\qjpeg4.dll" />
                        </Component>
                        <Component Id="QMNG4.DLL" DiskId="1" Guid="C56EA14C-E174-4FFB-8BCC-02B073222203">
                            <File Id="QMNG4.DLL" Name="qmng4.dll" Source="imageformats\qmng4.dll" />
                        </Component>
                        <Component Id="QSVG4.DLL" DiskId="1" Guid="F4C995C2-7B1B-4587-92CF-C1A945480C79">
                            <File Id="QSVG4.DLL" Name="qsvg4.dll" Source="imageformats\qsvg4.dll" />
                        </Component>
                        <Component Id="QTGA4.DLL" DiskId="1" Guid="56FCFCF5-1B1F-4A63-9043-F0B9FA1D7EB4">
                            <File Id="QTGA4.DLL" Name="qtga4.dll" Source="imageformats\qtga4.dll" />
                        </Component>
                        <Component Id="QTIFF4.DLL" DiskId="1" Guid="D0FB1350-FD18-4BF3-B3A8-1DF7BB181385">
                            <File Id="QTIFF4.DLL" Name="qtiff4.dll" Source="imageformats\qtiff4.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Ekstertera">
                    <Component Id="StartMenuShortcuts" Guid="211E3B27-B091-400D-9EB3-2D74AE79346A">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="EKSTERTERA.EXE" />
            <ComponentRef Id="README.TXT" />
            <ComponentRef Id="LIBEAY32.DLL" />
            <ComponentRef Id="LIBGCC_S_DW2_1.DLL" />
            <ComponentRef Id="LIBSSL32.DLL" />
            <ComponentRef Id="LIBSTDC___6.DLL" />
            <ComponentRef Id="LIBWINPTHREAD_1.DLL" />
            <ComponentRef Id="QTCORE4.DLL" />
            <ComponentRef Id="QTGUI4.DLL" />
            <ComponentRef Id="QTNETWORK4.DLL" />
            <ComponentRef Id="QTSVG4.DLL" />
            <ComponentRef Id="QTXML4.DLL" />
            <ComponentRef Id="SSLEAY32.DLL" />
            <ComponentRef Id="QGENERICBEARER4.DLL" />
            <ComponentRef Id="QNATIVEWIFIBEARER4.DLL" />
            <ComponentRef Id="QCNCODECS4.DLL" />
            <ComponentRef Id="QJPCODECS4.DLL" />
            <ComponentRef Id="QKRCODECS4.DLL" />
            <ComponentRef Id="QTWCODECS4.DLL" />
            <ComponentRef Id="QSVGICON4.DLL" />
            <ComponentRef Id="QGIF4.DLL" />
            <ComponentRef Id="QICO4.DLL" />
            <ComponentRef Id="QJPEG4.DLL" />
            <ComponentRef Id="QMNG4.DLL" />
            <ComponentRef Id="QSVG4.DLL" />
            <ComponentRef Id="QTGA4.DLL" />
            <ComponentRef Id="QTIFF4.DLL" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <Icon Id="DesktopIcon.exe" SourceFile="ekstertera.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="ekstertera.exe" />
    </Product>
</Wix>
