#!/usr/bin/make -f
# -*- makefile -*-

DISTRONAME = $(shell /usr/bin/lsb_release --id --short)
CODENAME   = $(shell /usr/bin/lsb_release --codename --short)

QT_OPTS      = network
QT_CONFIG    = release
QT_DEFINES   =
QT_PKGCONFIG =
SRC_3DPARTY  = $(CURDIR)/3dparty/json

ifneq (,$(filter wheezy precise, $(CODENAME)))
    QT_VERSION   = 4
    SRC_3DPARTY += $(CURDIR)/3dparty/qt5
else
    QT_VERSION    = 5
    QT_OPTS      += core widgets
    QT_DEFINES   += ETERA_CUSTOM_TRAY_ICON_GTK
    QT_CONFIG    += link_pkgconfig
    QT_PKGCONFIG += glib-2.0 gtk+-2.0 gdk-pixbuf-2.0
endif

ifneq (,$(filter Ubuntu, $(DISTRONAME)))
    QT_DEFINES   += ETERA_CUSTOM_TRAY_ICON_UNITY
ifeq ($(QT_VERSION), 4)
    QT_CONFIG    += link_pkgconfig
    QT_PKGCONFIG += glib-2.0 gtk+-2.0 gdk-pixbuf-2.0
endif
    QT_PKGCONFIG += appindicator-0.1
endif

export QT_SELECT=$(QT_VERSION)

override_dh_auto_clean:
	if [ -f Makefile ]; then make clean; fi
	rm -f Makefile
	rm -f Makefile.Debug
	rm -f Makefile.Release
	rm -f ekstertera.pro
	rm -f ekstertera

override_dh_auto_configure:
	qmake -project -recursive -Wall -nopwd -o "ekstertera.pro"      \
		"CODEC           = UTF-8"                                   \
		"CODECFORTR      = UTF-8"                                   \
		"QT             += $(QT_OPTS)"                              \
		"CONFIG         += $(QT_CONFIG)"                            \
		"PKGCONFIG      += $(QT_PKGCONFIG)"                         \
		"DEFINES        += $(QT_DEFINES)"                           \
		"INCLUDEPATH    += $(CURDIR)/src"                           \
		"TRANSLATIONS   +=                                          \
		   $(CURDIR)/src/translations/ekstertera_en.ts              \
		   $(CURDIR)/src/translations/ekstertera_fr.ts"             \
		"QMAKE_CPPFLAGS *= $(shell dpkg-buildflags --get CPPFLAGS)" \
		"QMAKE_CFLAGS   *= $(shell dpkg-buildflags --get CFLAGS)"   \
		"QMAKE_CXXFLAGS *= $(shell dpkg-buildflags --get CXXFLAGS)" \
		"QMAKE_LFLAGS   *= $(shell dpkg-buildflags --get LDFLAGS)"  \
		$(CURDIR)/src $(SRC_3DPARTY)
	lrelease -compress -removeidentical "ekstertera.pro"
	qmake "ekstertera.pro"

override_dh_auto_test:
	/bin/true

override_dh_strip:
	dh_strip --dbg-package=ekstertera-dbg

%:
	dh $@ --parallel
