#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_clean:
	if [ -f Makefile ]; then make clean; fi
	rm -f Makefile
	rm -f Makefile.Debug
	rm -f Makefile.Release
	rm -f ekstertera.pro
	rm -f ekstertera

override_dh_auto_build:
	export QT_SELECT=4
	PROJECT="ekstertera"
	qmake -project -recursive -Wall -nopwd -o "${PROJECT}.pro" \
		"CODEC = UTF-8" \
		"CODECFORTR = UTF-8" \
		"CONFIG += release" \
		"QT += network" \
		"INCLUDEPATH += src" \
		"TRANSLATIONS += src/translations/${PROJECT}_en.ts" \
		"QMAKE_CPPFLAGS *= $(shell dpkg-buildflags --get CPPFLAGS)" \
		"QMAKE_CFLAGS   *= $(shell dpkg-buildflags --get CFLAGS)" \
		"QMAKE_CXXFLAGS *= $(shell dpkg-buildflags --get CXXFLAGS)" \
		"QMAKE_LFLAGS   *= $(shell dpkg-buildflags --get LDFLAGS)" \
		src 3dparty/json 3dparty/qt5
	lrelease -compress -removeidentical "${PROJECT}.pro"
	qmake "${PROJECT}.pro"
	make

%:
	dh $@
